{%extends 'base.html'%}

{%load static%}

{%block head%}
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Шпаргалка для лучшей жизни</title>
      <link href="{%static 'home/css.css'%}" rel="stylesheet">
      {%endblock%}

   {%block content%}
      <header class="header fix top0 left0 w100">
         <div class="devicer mA row aic mA">
            <div class="header__logo"><a class="cup" href="./shop"><img src="{%static 'Attach/Images/logo-pc.jpg'%}"></a>
            </div>
            <div class="col tar"><span class="header__slogan ff-ars-i fwn">Сайт психолога <a
                     class="link dib shadow_link"
                     href="#">Ирены Беркуты</a></span>
               <div class="header__menu rel">
                  <div class="header__menu-underline header__menu-underline_main abs"></div>
                  <div class="header__menu-underline abs"></div><a
                     class="link dib shadow_link header__menu-li ml1o25 rel"
                     href="./">Главная</a><a class="link dib shadow_link header__menu-li ml1o25 rel" href="#">О себе</a><a
                     class="link dib shadow_link header__menu-li ml1o25 rel" href="#">О проекте</a><a
                     class="link dib shadow_link header__menu-li ml1o25 rel" href="#">Консультации психолога</a><a
                     class="link dib shadow_link header__menu-li ml1o25 rel" href="#">Мероприятия</a><a
                     class="link dib shadow_link header__menu-li ml1o25 rel" href="#">Нумерология</a><a
                     class="link dib shadow_link header__menu-li ml1o25 rel" href="{%url 'shop'%}">Магазин шпаргалок</a><a
                     class="link dib shadow_link header__menu-li ml1o25 rel" href="{%url 'blog'%}">Блог</a>
               </div>
            </div>
         </div>
      </header><button class="button rel cup scroll-top-button fix right2 bottom2 dn">
         <div class="button__inflation button__inflation_1 abs"></div>
         <div class="button__inflation button__inflation_2 abs"></div>
         <div class="button__inflation button__inflation_3 abs"></div>
         <div class="button__inflation button__inflation_4 abs"></div>
         <div class="button__inflation button__inflation_5 abs"></div>
         <div class="button__inflation button__inflation_6 abs"></div>
         <div class="arrow rel"><svg class="abs" width="24" viewBox="0 0 42 14" fill="none"
                 xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg) translate(50%, 50%);">
               <path
                     d="M0.339661 1.05658L19.5 12.2918V12.2918C20.3281 12.7774 21.3532 12.7809 22.1846 12.3009L22.2003 12.2918L41.6603 1.05658"
                     stroke="#000"></path>
            </svg></div>
      </button>
      <div class="devicer mA">
         <section class="section row rel  section_main">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{articles1.title}}</center>
                     <div class="mtb1o5">
                        <p>{{articles1.text}}</p>
                     </div>
                     <center><a href="#"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{% static 'Attach/Images/'%}{{articles1.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc">
               <div class="section__sales-block abs top0 right0 tac tdn cup" href="#"><a class="cup tdn" href="./sales">
                     <div class="section__sales-block-round-fixer" style="width:54.58125750600601px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:54.58125750600601px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:38.49129842680223px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:38.49129842680223px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:28.392162917538926px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:28.392162917538926px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:21.00493442411001px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:21.00493442411001px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:15.362650918162252px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:15.362650918162252px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:11.02285837690593px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:11.02285837690593px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:7.7437725180180195px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:7.7437725180180195px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:5.381562258610927px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:5.381562258610927px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:3.848550250180537px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:3.848550250180537px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:3.0938086671068277px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:3.0938086671068277px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:3.0938086671068277px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:3.0938086671068277px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:3.848550250180537px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:3.848550250180537px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:5.381562258610927px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:5.381562258610927px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:7.7437725180180195px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:7.7437725180180195px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:11.02285837690593px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:11.02285837690593px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:15.362650918162252px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:15.362650918162252px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:21.00493442411001px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:21.00493442411001px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:28.392162917538926px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:28.392162917538926px;height:7.5px">
                     </div>
                     <div class="section__sales-block-round-fixer" style="width:38.49129842680223px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:38.49129842680223px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:54.58125750600601px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:54.58125750600601px;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:NaNpx;height:7.5px"></div>
                     <div class="section__sales-block-round-fixer" style="width:NaNpx;height:7.5px"></div>
                     <div class="mto25">Только сегодня скидка на все курсы</div>
                     <div class="section__sales-block-percent mto75">20%</div><a class="abs bottom1o25 ct-abs_horiz fwb"
                        href="#">Подробнее</a>
                  </a></div><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A9848-2.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A9848-2.jpg'%}');"></div>
                  </div>
               </a>
            </div>
            <div class="section__arrows abs bottom2o5 left0 w100">
               <div class="arrow rel mA"><svg class="abs" width="50" viewBox="0 0 42 14" fill="none"
                       xmlns="http://www.w3.org/2000/svg" style="transform: rotate(0deg) translate(-50%, -50%);">
                     <path
                           d="M0.339661 1.05658L19.5 12.2918V12.2918C20.3281 12.7774 21.3532 12.7809 22.1846 12.3009L22.2003 12.2918L41.6603 1.05658"
                           stroke="inherit"></path>
                  </svg></div>
               <div class="arrow rel mA"><svg class="abs" width="50" viewBox="0 0 42 14" fill="none"
                       xmlns="http://www.w3.org/2000/svg" style="transform: rotate(0deg) translate(-50%, -50%);">
                     <path
                           d="M0.339661 1.05658L19.5 12.2918V12.2918C20.3281 12.7774 21.3532 12.7809 22.1846 12.3009L22.2003 12.2918L41.6603 1.05658"
                           stroke="inherit"></path>
                  </svg></div>
               <div class="arrow rel mA"><svg class="abs" width="50" viewBox="0 0 42 14" fill="none"
                       xmlns="http://www.w3.org/2000/svg" style="transform: rotate(0deg) translate(-50%, -50%);">
                     <path
                           d="M0.339661 1.05658L19.5 12.2918V12.2918C20.3281 12.7774 21.3532 12.7809 22.1846 12.3009L22.2003 12.2918L41.6603 1.05658"
                           stroke="inherit"></path>
                  </svg></div>
            </div>
         </section>
         <section class="section row rel section_reversed ">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{art2.title}}</center>
                     <div class="mtb1o5">
                        <p>{{art2.text}}</p>
                     </div>
                     <center><a href="#"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{%static 'Attach/Images/'%}{{art2.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc"><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A0480-1.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A0480-1.jpg'%}');"></div>
                  </div>
               </a></div>
         </section>
         <section class="section row rel  ">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{art3.title}}</center>
                     <div class="mtb1o5">
                        <p>{{art3.text}}</p>
                     </div>
                     <center><a href="#"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{%static 'Attach/Images/'%}{{art3.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc"><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A0328.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A0328.jpg'%}');"></div>
                  </div>
               </a></div>
         </section>
         <section class="section row rel section_reversed ">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{art4.title}}</center>
                     <div class="mtb1o5">
                        <p>{{art4.text}}</p>
                     </div>
                     <center><a href="#"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{%static 'Attach/Images/'%}{{art4.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc"><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A0149.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A0149.jpg'%}');"></div>
                  </div>
               </a></div>
         </section>
         <section class="section row rel  ">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{art5.title}}</center>
                     <div class="mtb1o5">
                        <p>{{art5.text}}</p>
                     </div>
                     <center><a href="#"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{%static 'Attach/Images/'%}{{art5.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc"><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A0395.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A0395.jpg'%}');"></div>
                  </div>
               </a></div>
         </section>
         <section class="section row rel section_reversed ">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{art6.title}}</center>
                     <div class="mtb1o5">
                        <p>{{art6.text}}</p>
                     </div>
                     <center><a href="{%url 'shop'%}"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{%static 'Attach/Images/'%}{{art6.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc"><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A0160-1.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A0160-1.jpg'%}');"></div>
                  </div>
               </a></div>
         </section>
         <section class="section row rel  ">
            <div class="section__content col jcc">
               <div class="rel">
                  <div class="section__content-text rel">
                     <center class="title ff-ars-b">{{art7.title}}</center>
                     <div class="mtb1o5">
                        <p>{{art7.text}}</p>
                     </div>
                     <center><a href="{%url 'blog'%}"><button class="button rel cup">Читать далее<div
                                   class="button__inflation button__inflation_1 abs"></div>
                              <div class="button__inflation button__inflation_2 abs"></div>
                              <div class="button__inflation button__inflation_3 abs"></div>
                              <div class="button__inflation button__inflation_4 abs"></div>
                              <div class="button__inflation button__inflation_5 abs"></div>
                              <div class="button__inflation button__inflation_6 abs"></div>
                           </button></a></center>
                  </div>
                  <div class="section__content-shadow abs top0"><img src="{%static 'Attach/Images/'%}{{art7.icon}}"></div>
               </div>
            </div>
            <div class="section__presentation rel row jcc"><a class="cup" href="#">
                  <div class="section__presentation-back w100 h100"
                       style="background-image: linear-gradient(to right, #fff 0%, #ffffff88 50%, #fff 100%), url('{%static 'Attach/Images/photo_3T5A0219.jpg'%}');">
                     <div class="section__presentation-front w100 h100"
                          style="background-image: url('{%static 'Attach/Images/photo_3T5A0219.jpg'%}');"></div>
                  </div>
               </a></div>
         </section>
         <div class="contacts">
            <center class="title ff-ars-b mb2">Контакты</center>
            <div class="row jcc mb1"><a class="contacts__card col aic" href="#"><img class="mbo25"
                       src="{%static 'Attach/Images/'%}{{ctn1.icon}}"><span>{{ctn1.contact}}</span></a><a
                  class="contacts__card col aic" href="#" id="contact_instagram"><img class="mbo25"
                       src="{%static 'Attach/Images/'%}{{ctn2.icon}}"><span>{{ctn2.contact}}</span></a><a
                  class="contacts__card col aic" href="#"><img class="mbo25"
                       src="{%static 'Attach/Images/'%}{{ctn3.icon}}"><span>{{ctn3.contact}}</span></a></div>
            <div class="row jcc"><a class="contacts__card contacts__card_extra col aife" href="tel:79780000000"
                  id="contact_phone">
                  <div class="contacts__card-extra-imgs row jcc aic mbo25 rel"><img
                          src="{%static 'Attach/Images/'%}{{ctn4.icon}}"><img class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn4.icon}}" data-i="1"><img
                          class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn4.icon}}" data-i="2"><img
                          class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn4.icon}}" data-i="3"><img
                          class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn4.icon}}" data-i="4"></div><span{{ctn4.contact}}</span>
               </a><a class="contacts__card contacts__card_extra col aifs" href="mailto:email.email@email.email1">
                  <div class="contacts__card-extra-imgs row jcc aic mbo25 rel"><img
                          src="{%static 'Attach/Images/'%}{{ctn5.icon}}"><img class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn5.icon}}" data-i="1"><img class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn5.icon}}" data-i="2"><img class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn5.icon}}" data-i="3"><img class="contacts__card-img-copy abs"
                          src="{%static 'Attach/Images/'%}{{ctn5.icon}}" data-i="4"></div>
                  <span>{{ctn5.contact}}</span>
               </a></div>
         </div>
      </div>
      <div class="footer po5 w100">
         <div class="devicer mA row jcsb"><span>Ирена Беркута &copy; 2021</span>
            <div class="row"><span class="mr2">prod: <a class="link dib shadow_link"
                     href="http://frity.ru/">Frity</a></span><span>icons: <a class="link dib shadow_link"
                     href="https://www.flaticon.com/authors/freepik">Freepik</a>, <a class="link dib shadow_link"
                     href="https://www.flaticon.com/authors/gregor-cresnar">Gregor Cresnar</a></span></div>
         </div>
      </div>
      <script src="{%static 'home/index.js'%}"></script>
  {%endblock%}
