mixin diashad(opacity, marginTop = 0, inverse = false, rotation = 7.1)
   .diashad
      .diashad__shadow(style=`
         background: linear-gradient(${inverse * 180 + (1 + (inverse * -2)) * rotation + 90}deg, rgba(246, 211, 206, 0), rgba(246, 211, 206, ${opacity / 100}), rgba(246, 211, 206, 0));
         transform: rotate(${-rotation * (1 + inverse * -2)}deg);
         margin-top: ${marginTop}em;
      `)&attributes(attributes)
      