mixin numero-section()
   <?php $_product = $product->walker; ?>
   .numero-section(data-json="")&attributes(attributes)
      <?= $_product->page->text ?>
      p.numero-section__action
         span(style="color: #EDA69C") Запишитесь на консультацию прямо сейчас: 
         | воспользуйтесь 
         a(href!="../home#contacts", style="color: black") контактами психолога
         |  или 
         a(href!='../buy/?id=<?= $product->id ?>')
            +button('запишитесь на сайте')(style="padding-left: 0.5em; padding-right: 0.5em")

      