mixin numero-section(image)
   .numero-section&attributes(attributes)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse in est ante. Nibh praesent tristique magna sit amet. Quisque egestas diam in arcu cursus euismod. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Est sit amet facilisis magna etiam. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Justo laoreet sit amet cursus sit amet. Auctor urna nunc id cursus metus. Elit pellentesque habitant morbi tristique senectus et netus. Tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse sed nisi lacus sed viverra tellus in. Condimentum id venenatis a condimentum vitae sapien. Diam quam nulla porttitor massa. Sagittis vitae et leo duis ut diam quam. Purus in mollis nunc sed id semper. Aliquam faucibus purus in massa tempor.
      .numero-section__img(style=`background-image: url(../Attach/Images/${image}.jpg)`)
      p Sit amet nulla facilisi morbi tempus iaculis. In nisl nisi scelerisque eu ultrices vitae. Nec dui nunc mattis enim ut. Id nibh tortor id aliquet. Sed pulvinar proin gravida hendrerit lectus a. Ultrices eros in cursus turpis massa tincidunt dui ut. Elementum tempus egestas sed sed. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Sapien nec sagittis aliquam malesuada bibendum arcu. Augue eget arcu dictum varius duis at consectetur. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae.
      p Ut pharetra sit amet aliquam id diam maecenas ultricies mi. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Quam quisque id diam vel quam elementum pulvinar. Et egestas quis ipsum suspendisse ultrices gravida. Sagittis vitae et leo duis ut diam. Sed egestas egestas fringilla phasellus faucibus scelerisque. Placerat duis ultricies lacus sed. Semper risus in hendrerit gravida rutrum quisque non. Ultricies lacus sed turpis tincidunt. Massa placerat duis ultricies lacus sed turpis tincidunt. Venenatis tellus in metus vulputate eu scelerisque felis. Enim eu turpis egestas pretium aenean. Adipiscing elit pellentesque habitant morbi tristique. Aenean pharetra magna ac placerat vestibulum. Vel turpis nunc eget lorem. Praesent semper feugiat nibh sed pulvinar proin gravida. Dapibus ultrices in iaculis nunc sed augue. Venenatis urna cursus eget nunc scelerisque viverra mauris. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.
      p
         span(style="color: #EDA69C") Запишитесь на консультацию прямо сейчас: 
         | воспользуйтесь 
         a(href="../home#contacts", style="color: black") контактами психолога
         |  или 
         a(href='#')
            +button('запишитесь на сайте')(style="padding-left: 0.5em; padding-right: 0.5em")

      