mixin cylinder()

   - var sides = {}
   mixin side(number)
      - sides[number] = block
   block

   .cylinder&attributes(attributes)
      .cylinder-container
         .cylinder-frame
            .strip
               - let max = 10
               - let i = 0
               while i < max
                  div(class=`cylinder-l-${i}`)
                     if sides[i]
                        - sides[i]()
                  - i++
