include __content/section__content.pug
include __presentation/section__presentation.pug

//-
   options = {
      reversed: bool,
      isMain: bool,
      noReadMore: bool,
      arrows: bool,
      sales: bool,
   }

mixin section()
   - tmp = "<?= ($section->at_path('is_main')->value ? 'section_main' : '') .' '. ($section->at_path('is_image_right')->value ? '' : 'section_reversed') ?>"
   section.section.row.rel(class!=tmp)&attributes(attributes)
      +section__content()
      +section__presentation()
      <?php if ($is_arrows && $section->at_path('is_main')->value) : ?>
         .section__arrows.abs.bottom2o5.left0.w100
            +arrow('down', 'inherit', 50).mA
            +arrow('down', 'inherit', 50).mA
            +arrow('down', 'inherit', 50).mA
      <?php endif; ?>