include __content/section__content.pug
include __presentation/section__presentation.pug

mixin section(title, shadowImage, sectionImage, reversed = false)
   section.section.row(class=(reversed ? 'section_reversed' : ''))&attributes(attributes)
      if block
         +section__content(title, shadowImage)
            block
      else
         +section__content(title, shadowImage)
      +section__presentation(sectionImage)