include __menu/header__menu.pug
mixin header()
   header.header.fix.top0.left0.w100&attributes(attributes)
      +devicer()
         .header__wrapper.row.aic.mA
            .header__logo
               a(href="./shop").cup
                  - tmp = '<?= iv(124)->src; ?>'
                  img(src!=tmp)
            .header__menu-wrapper.col.tar
               - tmp = '<?= iv(109); ?> '
               span.header__slogan.header__slogan_pc.ff-ars-i.fwn
                  | !{tmp}
                  +link('<?= iv(110); ?>', '#')
               +header__menu({
                  'Главная': '../home',
                  'Обо мне': '../about-me',
                  'О проекте': '../about-project',
                  'Консультации психолога': '../consult',
                  'Мероприятия': '../event',
                  'Нумерология': '../numerology',
                  'Магазин шпаргалок': '../shop', 
                  'Блог': '../blog',
                  'Контакты': '../home#contacts',
                  'Личный кабинет': '../office',
               })
         .header__slogan_mobile.row.jcsb.aic
            .header__mobile-line
            - tmp = '<?= iv(109); ?> '
            span.header__slogan.ff-ars-i.fwn
               | !{tmp}
               +link('<?= iv(110); ?>', '#')