include ../../bundle.pug

include ../../Blocks/product/product.pug
include ../../Blocks/product-shop/product-shop.pug
include ../../Blocks/blog-theme-preview/blog-theme-preview.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Отношения | Шпаргалка для лучшей жизни
   body

      +header()
      +scroll-top-button()

      +devicer().ovh
         +blog-theme-preview('Отношения', 'photo_3T5A0395.jpg')
            p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. 
            p Augue cursus massa gravida et non risus tellus hac risus. Consectetur varius integer <u>sed at pulvinar</u> id nunc. <em>Pulvinar</em> laoreet neque vulputate ultricies felis. .
            p Orci neque ultrices pretium est et lectus enim vitae pellentesque.
         .articles.rel.row.wrap.jcc
            +product-shop({
               title: 'Очень очень очень очень длинное название',
               image: 'photo_IMG_9403-1.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '01.01.2021',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Augue cursus massa gravida et non risus tellus hac risus. Consectetur varius integer sed at pulvinar id nunc. Pulvinar laoreet neque vulputate ultricies felis. 
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-shop({
               title: 'Запись из блога',
               image: 'photo_3T5A0395.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины'],
               useReadButton: true,
               creationDate: '10.12.2019',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-shop({
               title: 'Длинное название',
               image: 'photo_3T5A0328.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '30.09.2020',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-shop({
               title: 'Интересное название',
               image: 'photo_3T5A0266.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '30.09.2020',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.

      +footer()