include ../../bundle.pug

include ../../Blocks/product/product.pug
include ../../Blocks/product-shop/product-shop.pug
include ../../Blocks/blog-theme-preview/blog-theme-preview.pug

:php
   $theme = $db->at_id($_GET['id']);

   $theme_tag = $theme->props->tag->value;
   $theme_title = tag_to_title($theme_tag);
   
   function tag_to_title($tag) {
      $tag = str_replace('-', ' ', $tag);
      $tag = mb_strtoupper(mb_substr($tag, 0, 1)) . mb_substr($tag, 1);
      return $tag;
   }

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      - tmp = "<?= $theme_title ?>"
      title Блог "!{tmp}" | Шпаргалка для лучшей жизни
      +favicon()
   body

      +header()
      +scroll-top-button()

      +devicer().ovh
         +blog-theme-preview('<?= $theme_title ?>', '<?= $theme->props->image ?>')
            <?= $theme->props->annotation ?>
         .articles.rel.row.wrap.jcc
            :php
               $posts = $db->at_path('pages/blog/posts')->get_children();
               $posts_data = [];
               
               foreach ($posts as $post) {
                  $has_theme = false;

                  $post_tags = $post->props->tags->get_children();
                  foreach ($post_tags as $tag) {
                     if ($tag == $theme_tag) {
                        $has_theme = true; 
                        break;
                     }
                  }

                  if ($has_theme) {
                     $data = new stdClass();
                     
                     $data->views = $post->props->viewed_count->value;
                     $creation_date = implode('', array_reverse(explode('.', $post->props->creation_date->value)));
                     $data->creation_date = $creation_date;
                     $data->item = $post;

                     array_push($posts_data, $data);
                  }
               }
               
               usort($posts_data, function ($a, $b) {
                  return ($a->views <=> $b->views) * -1;
               });
               $posts_popular = array_map(function ($data) { return $data->item; }, $posts_data);
               usort($posts_data, function ($a, $b) {
                  return ($a->creation_date <=> $b->creation_date) * -1;
               });
               $posts_recent = array_map(function ($data) { return $data->item; }, $posts_data);
               
            <?php foreach ($posts_recent as $product) : ?>
               +product-shop()
            <?php endforeach; ?>
            
            <?php if (count($posts_recent) == 0) : ?>
               +title('В теме пока нет публикаций')(style='color: var(--c3); margin-bottom: 6rem; letter-spacing: 0.25em;')
               
            <?php endif; ?>

      +footer()