include __option/select__option.pug

mixin select()
   .select.rel&attributes(attributes)
      .select__basis.row
         <?php $title = $select_props[array_keys($select_props)[$select_selected]]; ?>
         - tmp = "<?= $title ?>"
         .select__title !{tmp}
         +button().select__toggle
            +arrow-small('down', 'black')
      .select__dropdown.abs.dn
         <?php $i = 0; ?>
         <?php foreach ($select_props as $tag => $name) : ?>
            +select__option()
            <?php $i++; ?>
         <?php endforeach; ?>
      