include ../../bundle.pug

include ../../Blocks/product/product.pug
include ../../Blocks/product-office/product-office.pug
include ../../Blocks/recommended-products/recommended-products.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Личный кабинет | Шпаргалка для лучшей жизни
      +favicon()
   body

      +header()
      +scroll-top-button()

      +devicer()

         +title('Личный кабинет')
         
         .office_subtitle 
            .row.jcsb.aic
               | Мои материалы
               a(href='#').office_all-materials-link Открыть все
         .office_articles.row.wrap.jcsb
            +product-office({
               title: 'Очень очень очень очень длинное название',
               image: 'photo_IMG_9403-1.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '01.01.2021',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Augue cursus massa gravida et non risus tellus hac risus. Consectetur varius integer sed at pulvinar id nunc. Pulvinar laoreet neque vulputate ultricies felis. 
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-office({
               title: 'Запись из блога',
               image: 'photo_3T5A0395.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины'],
               useReadButton: true,
               creationDate: '10.12.2019',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            a(href='#').w100.office_all-materials-button
               +button('Показать полный список').button_outlined.w100
         .office_subtitle Настройки аккаунта
         .office_input-title Имя
         +input-controls('Ваше имя...', 'text', 'name')
            +button('Изменить')
         .office_input-title Email
         +input-controls('Ваш email...', 'email', 'email')
            +button('Подтвердить')
         .office_input-title Пароль
         +input-controls('Новый пароль...', 'password', 'pass0')
            +button().button_input-controls-eye
               .row.jcc.aic.ovh
                  img(src='../Attach/Images/icon-eye.png')
         +input-controls('Повторите...', 'password', 'pass1').office_repeat-password
            +button('Изменить').office_change-password-button(disabled='disabled')
            +button().button_input-controls-eye
               .row.jcc.aic.ovh
                  img(src='../Attach/Images/icon-eye.png')
         .office_password-message
            small.rel.w100.db
               span(role='error', style='color: red').dn.abs.left0.right0 Пароли не совпадают
               span(role='free', style='color: blue').dn.abs.left0.right0 Пароль не должен быть пустым
               span(role='correct', style='color: green').dn.abs.left0.right0 Пароли совпадают

         .office_subtitle Рекомендации
         +recommended-products(false, ['full-width', 'outlined'])

      +footer()