mixin blog-title()
   .blog-title.row.aic(style=`background-image: url('../__attach/Images/bg_blog.png')`)&attributes(attributes)
      .blog-title__basis.col.jcc.aifs
         .blog-title__main.ff-ars-b БЛОГ
         .blog-title__sub.ff-rlw-r Ирены Беркуты
      .blog-title__quote.col.jcc
         .blog-title-quote__text.taj Мы выбираем не случайно друг друга… Мы встречаем только тех, кто уже существует в нашем подсознании.
         .blog-title-quote__author.tar Зигмунд Фрейд