mixin blog-title()
   .blog-title.row.aic(style=`background-image: url('../__attach/Images/bg_blog.png')`)&attributes(attributes)
      .blog-title__basis.col.jcc.aifs
         .blog-title__main.ff-ars-b БЛОГ
         .blog-title__sub.ff-rlw-r Ирены Беркуты
      .blog-title__quote.col.jcc
         - tmp = "<?= $db->at_path('pages/blog/header/text') ?>"
         .blog-title-quote__text.taj !{tmp}
         <?php $author = $db->at_path('pages/blog/header/author'); ?>
         <?php if ($author->value) : ?>
            - tmp = "<?= $author ?>"
            .blog-title-quote__author.tar !{tmp}
         <?php endif; ?>