mixin section__content(title, shadowImage)
   .section__content.col.jcc&attributes(attributes)
      .rel
         .section__content-text.rel
            +title(title)
            .mtb1o5
               if block
                  block
               else
                  p.
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                     sed do eiusmod tempor incididunt ut labore et dolore magna 
                     aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                     ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                     Duis aute irure dolor in reprehenderit in voluptate velit 
                     esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                     occaecat cupidatat non proident, sunt in culpa qui officia 
                     deserunt mollit anim id est laborum.
            center
               +button('Читать далее')
         .section__content-shadow.abs.top0
            img(src=`./attach/img/${shadowImage}`)