mixin section__content(title, shadowImage, href, isReadMore)
   .section__content.col.jcc&attributes(attributes)
      .rel
         .section__content-text.rel
            <?php if ($is_title) : ?>
               +title("<?= $section->at_path('title')->value ?>")
            <?php endif; ?>
               .mtb1o5(data-json)
                  - tmp = "<?= $section->at_path('text')->value->html ?>"
                  | !{tmp}
               
            <?php if ($is_read_more) : ?>
               center
                  a(href=href)
                     +button('Читать далее')
            <?php endif; ?>
         .section__content-shadow.abs.top0
            - tmp = "<?= $section->at_path('icon')->value->src ?>"
            img(src!=tmp)