include ../../bundle.pug

include ../../Blocks/contacts/contacts.pug
include ../../Blocks/event-block/event-block.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Мероприятия | Шпаргалка для лучшей жизни
    +favicon()
  body
    +header()
    +scroll-top-button()
    +devicer()
      +title('Ближайшие мероприятия').title_events
      .event-blocks
        <?php $events = fi(651)->get_children(); ?>
        <?php foreach ($events as $event) : ?>
          <?php if ($event->props->is_visible->value) : ?>
            +event-block('<?= $event->props->type . \'. \' . $event->props->title ?>', '<?= $event->props->datetime ?>', "<?= $event->at_path('annotation/image') ?>", '<?= $event->id ?>')
          <?php endif; ?>
        <?php endforeach; ?>
      +contacts()#contacts
    +footer()