include ../../bundle.pug

include ../../Blocks/section/section.pug
include ../../Blocks/product/product.pug
include ../../Blocks/service-row/service-row.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Консультации | Шпаргалка для лучшей жизни
    +favicon()
  body
    +header()
    +scroll-top-button()
    +devicer()
      +title('Виды консультаций').title_consult-types.mt2o5
      .row.jcc.wrap
        <?php $types = fi(252)->get_children(); ?>
        <?php foreach ($types as $product) : ?>
          +product({buttonSecond: 'Записаться'}).product_normal
        <?php endforeach; ?>
      +title('<?= fi(879) ?>').title_services
      .services
        <?php $rating = fi(251)->get_children(); ?>
        <?php foreach ($rating as $product) : ?>
          :php
            $price = $product->props->price;
            $target_price = $price->props->normal;
            if ($price->props->sale->value)
              $target_price = $price->props->sale;
          +service-row('<?= $product->props->title ?>', '<?= $target_price ?>', '<?= $product->id ?>')
        <?php endforeach; ?>
          
      //-+section('Консультации психолога', 'shadow_users.svg', '3T5A0328.jpg', './consult', {isMain: true, noReadMore: true})
      //-  p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Ut rutrum adipiscing hendrerit consectetur nulla cursus non gravida. Quam venenatis amet ultrices quam massa faucibus maecenas pellentesque. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
      //-  p Augue cursus massa gravida et non risus tellus hac risus. Consectetur varius integer sed at pulvinar id nunc. Pulvinar laoreet neque vulputate ultricies felis. Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque leo ac id dictumst. Rhoncus, dictum commodo tincidunt ornare sit odio pellentesque amet pretium.

    +footer()