mixin footer()
   .footer.ptbo5.w100.rel&attributes(attributes)
      +devicer()
         span.footer__copywrite Ирена Беркута &copy; 2021
         .row.footer__production
            span.mr2 prod: 
               +link('Frity', 'http://frity.ru/')
            span icons: 
               +link('Freepik', 'https://www.flaticon.com/authors/freepik')
               | , 
               +link('Gregor Cresnar', 'https://www.flaticon.com/authors/gregor-cresnar')