mixin numenu-item(title, icon, target)
   .numenu-item.numenu-item__trigger.row.jcsb.aic.cup(data-target=target)&attributes(attributes)
      .numenu-item__title= title
      .numenu-item__icon(style=`background-image: url(../Attach/Images/nuicon-${icon}.png)`)
      