mixin button(text)
   button.button.rel.cup&attributes(attributes)= text
      .button__inflation.button__inflation_1.abs
      .button__inflation.button__inflation_2.abs
      .button__inflation.button__inflation_3.abs
      .button__inflation.button__inflation_4.abs
      .button__inflation.button__inflation_5.abs
      .button__inflation.button__inflation_6.abs
      if block
         block