
include ../../bundle.pug
include ../../Blocks/section/section.pug
include ../../Blocks/cylinder/cylinder.pug
include ../../Blocks/product/product.pug
include ../../Blocks/blog-block/blog-block.pug
include ../../Blocks/blog-title/blog-title.pug
include ../../Blocks/product/product.pug
include ../../Blocks/product-shop/product-shop.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Блог | Шпаргалка для лучшей жизни
   body

      +header()
      +scroll-top-button()

      +devicer()

         +blog-title()

         +cylinder()#cylinder.rel.grid-pc
            +side(3)
               +blog-block('Отношения', 'photo_3T5A0419.jpg')
               +blog-block('Позитивное мышление', 'photo_3T5A9944.jpg')
            +side(2)
               +blog-block('Эмоции и чувства', 'photo_3T5A0395.jpg')
               +blog-block('Личностный рост', 'photo_IMG_9403-1.jpg')
            +side(1)
               +blog-block('Позитивное мышление', 'photo_3T5A9944.jpg')
               +blog-block('Отношения', 'photo_3T5A0419.jpg')
            +side(0)
               +blog-block('Личностный рост', 'photo_IMG_9403-1.jpg')
               +blog-block('Эмоции и чувства', 'photo_3T5A0395.jpg')
         .grid-mobile.row.wrap.jcc
            +blog-block('Отношения', 'photo_3T5A0419.jpg')
            +blog-block('Позитивное мышление', 'photo_3T5A9944.jpg')
            +blog-block('Эмоции и чувства', 'photo_3T5A0395.jpg')
            +blog-block('Личностный рост', 'photo_IMG_9403-1.jpg')
            +blog-block('Позитивное мышление', 'photo_3T5A9944.jpg')
            +blog-block('Отношения', 'photo_3T5A0419.jpg')
            +blog-block('Личностный рост', 'photo_IMG_9403-1.jpg')
            +blog-block('Эмоции и чувства', 'photo_3T5A0395.jpg')


         +title('Популярные записи').title_articles
         .articles.rel.row.wrap.jcc
            +product-shop({
               title: 'Очень очень очень очень длинное название',
               image: 'photo_IMG_9403-1.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '01.01.2021',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Augue cursus massa gravida et non risus tellus hac risus. Consectetur varius integer sed at pulvinar id nunc. Pulvinar laoreet neque vulputate ultricies felis. 
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-shop({
               title: 'Запись из блога',
               image: 'photo_3T5A0395.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины'],
               useReadButton: true,
               creationDate: '10.12.2019',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-shop({
               title: 'Длинное название',
               image: 'photo_3T5A0328.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '30.09.2020',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
            +product-shop({
               title: 'Интересное название',
               image: 'photo_3T5A0266.jpg',
               tags: ['нумерология', 'семейные', 'чувство-вины', 'эмоции-и-чувства'],
               useReadButton: true,
               creationDate: '30.09.2020',
            })
               p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
               p Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque.
               
         +section('Блог', 'shadow_message.svg', '3T5A0219.jpg', './blog', {isMain: true, noReadMore: true})
            p Lacus in iaculis ut ut facilisi suspendisse pharetra. Scelerisque convallis ac tellus felis mauris egestas amet, aenean urna. Scelerisque egestas sed cursus at felis urna nullam. Ut rutrum adipiscing hendrerit consectetur nulla cursus non gravida. Quam venenatis amet ultrices quam massa faucibus maecenas pellentesque. Orci neque ultrices pretium est et lectus enim vitae pellentesque.
            p Augue cursus massa gravida et non risus tellus hac risus. Consectetur varius integer sed at pulvinar id nunc. Pulvinar laoreet neque vulputate ultricies felis. Pellentesque pellentesque mattis morbi odio turpis nam. Tellus interdum scelerisque leo ac id dictumst. Rhoncus, dictum commodo tincidunt ornare sit odio pellentesque amet pretium.

      +footer()