include ../../bundle.pug

include ../../Blocks/section/section.pug
include ../../Blocks/contacts/contacts.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Шпаргалка для лучшей жизни
  body
    +header()
    +scroll-top-button()
    +devicer()
      +section('О себе', 'shadow_heart.svg', '3T5A9848-2.jpg', './about-me', false, true).section_main
        p.
          Lacus in iaculis ut ut facilisi suspendisse pharetra. 
          Scelerisque convallis ac tellus felis mauris egestas amet, 
          aenean urna. Scelerisque egestas sed cursus at felis urna 
          nullam. Ut rutrum adipiscing hendrerit consectetur nulla 
          cursus non gravida. Quam venenatis amet ultrices quam massa 
          faucibus maecenas pellentesque. Orci neque ultrices pretium 
          est et lectus enim vitae pellentesque.
        p.
          Augue cursus massa gravida et non risus tellus hac risus. 
          Consectetur varius integer sed at pulvinar id nunc. 
          Pulvinar laoreet neque vulputate ultricies felis. 
          Pellentesque pellentesque mattis morbi odio turpis nam. 
          Tellus interdum scelerisque leo ac id dictumst. Rhoncus, 
          dictum commodo tincidunt ornare sit odio pellentesque amet pretium.
      +section('О проекте', 'shadow_light-bulb.svg', '3T5A0480-1.jpg', './about-project', true)
      +section('Консультации психолога', 'shadow_users.svg', '3T5A0328.jpg', './consult')
      +section('Мероприятия', 'shadow_clock.svg', '3T5A0149.jpg', './events', true)
      +section('Нумерология', 'shadow_earth-globe.svg', '3T5A0395.jpg', './numerology')
      +section('Магазин шпаргалок', 'shadow_shopping-bag.svg', '3T5A0160-1.jpg', './shop', true)
      +section('Блог', 'shadow_message.svg', '3T5A0219.jpg', './blog')
      +contacts()
    +footer()