include ../../bundle.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Шпаргалки для лучшей жизни
  body.rel
    h1.tac Шпаргалки для лучшей жизни
    h2.tac.ff-ars-b Шпаргалки для лучшей жизни
    h2.tac.ff-ars-i Шпаргалки для лучшей жизни