include ../../bundle.pug

include ../../Blocks/section/section.pug
include ../../Blocks/contacts/contacts.pug

:php
   require_once '../../../just-field/dist/php/JustField.php';
   require_once '../../../just-field/dist/php/orm.config.php';
   $db = new JustField\DB($orm);

   $ASSETS = './../../../just-field/dist/Assets/';


<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Шпаргалка для лучшей жизни
   body
      <?php $sections = $db->at_path('pages/main/sections')->get_children(); ?>
      +header()
      +scroll-top-button()
      +devicer()
         <?php $i = 0; ?>

         <?php foreach ($sections as $section) : ?>
            :php
               $title = $section->get_child('title')->value;
               $icon =  $ASSETS . $section->get_child('icon')->value['src'];
               $image =  $ASSETS . $section->get_child('image')->value['src'];
               $is_image_left = !boolval($section->get_child('is_image_right')->value);
               $link = '#';
               $isMain = $i == 0;

            +section()

               <?php if ($isMain) : ?>
                  p.
                     Lacus in iaculis ut ut facilisi suspendisse pharetra. 
                     Scelerisque convallis ac tellus felis mauris egestas amet, 
                     aenean urna. Scelerisque egestas sed cursus at felis urna 
                     nullam. Ut rutrum adipiscing hendrerit consectetur nulla 
                     cursus non gravida. Quam venenatis amet ultrices quam massa 
                     faucibus maecenas pellentesque. Orci neque ultrices pretium 
                     est et lectus enim vitae pellentesque.
                  p.
                     Augue cursus massa gravida et non risus tellus hac risus. 
                     Consectetur varius integer sed at pulvinar id nunc. 
                     Pulvinar laoreet neque vulputate ultricies felis. 
                     Pellentesque pellentesque mattis morbi odio turpis nam. 
                     Tellus interdum scelerisque leo ac id dictumst. Rhoncus, 
                     dictum commodo tincidunt ornare sit odio pellentesque amet pretium.

               <?php else : ?>
                  p.
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                     sed do eiusmod tempor incididunt ut labore et dolore magna 
                     aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                     ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                     Duis aute irure dolor in reprehenderit in voluptate velit 
                     esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                     occaecat cupidatat non proident, sunt in culpa qui officia 
                     deserunt mollit anim id est laborum.

               <?php endif; ?>

            <?php $i++; ?>

         <?php endforeach; ?>

         +contacts()
      +footer()