mixin footer()
   .footer.po5.w100&attributes(attributes)
      +devicer().row.jcsb
         span Ирена Беркута &copy; <?= $db->at_path('pages/main/copywrite')->value ?>
         .row
            span.mr2 prod: 
               +link('Frity', 'http://frity.ru/')
            span icons: 
               +link('Freepik', 'https://www.flaticon.com/authors/freepik')
               | , 
               +link('Gregor Cresnar', 'https://www.flaticon.com/authors/gregor-cresnar')