mixin product(title, price, description, image, options={})
   .product&attributes(attributes).col
      .product__image-wrapper.rel.row.jcc.aic
         .product__image.w100.h100.abs.ct-abs.w100.h100(style=`background-image: url('../Attach/Images/${image}');`)
         .product__image-gradient.abs.top0.left0.w100.h100(style=`background-image: linear-gradient(#ffffff00 8.85%, #F6D3CE90);`)
            .product__title.ct-abs_horiz.bottomo5.w100.tac.ff-ars-b.fz1o25= title
      .product__description.taj.mtb1= description
      .product__footer.row.jcsb.w100
         a(href=( options.moreLink || '#' ))
            +button('Подробнее')
         a(href='#')
            +button('buttonSecond' in options ? options.buttonSecond : 'Купить').rel
               .product__price.ct-abs_horiz.w100= `${price} руб`