mixin section__sales-block()
   .section__sales-block.abs.top0.right0.tac.tdn.cup(href="#")&attributes(attributes)
      a(href="./sales").cup.tdn
         - let i = -1, D = 150, R = D/2;
         - let R2 = R**2, total = 20, padding = 3, middle = total / 2, step = D / total;
         while i++ < total
            - let wi = R - (R2 - ((i - middle)*step + step/2)**2)**0.5
            - if (wi + padding < R) wi += padding;
            .section__sales-block-round-fixer(style=`width:${wi}px;height:${step}px`)
            .section__sales-block-round-fixer(style=`width:${wi}px;height:${step}px`)
         .mto25 Только сегодня скидка на все курсы 
         .section__sales-block-percent.mto75 20% 
         a.abs.bottom1o25.ct-abs_horiz.fwb(href="#") Подробнее