include ../../bundle.pug

include ../../Blocks/product-shop/product-shop.pug
include ../../Blocks/shop-filters/shop-filters.pug
include ../../Blocks/shop-products/shop-products.pug
include ../../Blocks/maybe-other-page/maybe-other-page.pug

<?php $_root = $db->get_root()->walker; ?>
<?php $products = $_root->pages->shop('children'); ?>


<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Магазин шпаргалок | Шпаргалка для лучшей жизни
      +favicon()
   body
      +header()
      +scroll-top-button()
      +devicer()

         +title('Магазин шпаргалок').title_page
         +shop-filters()
         +shop-products()

         +maybe-other-page()
      +footer()