include ../../bundle.pug

include ../../Blocks/product-shop/product-shop.pug

<?php $product = fi($_GET['id']); ?>

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      - tmp = '<?= $product->props->title ?>'
      title Покупка, !{tmp} | Шпаргалка для лучшей жизни
      +favicon()
   body
      +header()
      +scroll-top-button()
      +devicer()
         - tmp = '<?= $product->props->title ?>'
         +title(`Покупка: ${tmp}`).title_page
         .products.mA.wfc
            +product-shop({
               title: '<?= $product->props->title ?>',
               type: '<?= $product->props->type ?>',
               price: '<?= $product->at_path("price/normal") ?>',
               sales: '<?= $product->at_path("price/sale") ?>',
               image: '<?= $product->at_path("annotation/image") ?>',
            })
            a(href='#')
               +button().button_pay
                  span Оплатить
                  br
                  strong 55 000 руб
            
      +footer()