include ../../bundle.pug

include ../../Blocks/product-preview/product-preview.pug

<?php $id = $_GET['id']; ?>
<?php $product = fi($id); ?>
<?php // TODO: make check if product available ?>

:php
  if (!array_key_exists("-jf_product-$id-visited", $_COOKIE)) {
    // time steps are:                                  1h   1d 1y  10y
    setcookie("-jf_product-$id-visited", 'true', time()+3600*24*365*10);
    $product_viewed = $product->props->viewed_count;
    $product_viewed->update('value', intval($product_viewed->value) + 1);
  }

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    - tmp = "<?= $product->props->title ?>"
    title !{tmp} | Шпаргалка для лучшей жизни
    +favicon()
  body
    +header()
    +scroll-top-button()
    +devicer()
      +product-preview().dn
      .page__content
        +product-preview('normal')
        <?= $product->at_path('page/text') ?>
        +product-preview('button')
    +footer()