mixin header__menu()
  .header__menu.rel&attributes(attributes)
    .header__menu-underline.header__menu-underline_main.abs
    .header__menu-underline.abs
    +link('Главная', './').header__menu-li.ml1o25.rel
    <?php foreach ($sections as $section) : ?>
      :php
        $title = $section->get_child('title')->value;
        $link = '#';
      +link('<?= $title ?>', '<?= $link ?>').header__menu-li.ml1o25.rel
    <?php endforeach; ?>