include ../product/product.pug
mixin recommended-products(isShowTitle = true, moreButtonModifiers = [])
   .recommended-products&attributes(attributes)
      if isShowTitle
         center.title.ff-ars-b.mb2 Рекомендуемые товары
         
      .recommended-products__content.row.jcc
         <?php for ($i = 0; $i < 4; $i++) : ?>
            <?php $product = $db->at_path('pages/shop/product1'); ?>
            +product().product_normal
         <?php endfor; ?>
            
      center.more-recommended
         a(href="../shop")
            +button('Больше рекомендуемых')(class=( moreButtonModifiers.map(mod => `button_${mod}`).join(' ') ))