- function px_to_em(pixelVal, parentSize = 16) { return (pixelVal / parentSize) + 'em'; }

include Basic/link/link.pug
include Basic/button/button.pug
include Basic/devicer/devicer.pug
include Basic/title/title.pug
include Blocks/header/header.pug
include Blocks/footer/footer.pug
include Blocks/scroll-top-button/scroll-top-button.pug
include Basic/arrow/arrow.pug
include Blocks/multiblock-api/multiblock-api.pug
include Basic/select/select.pug
include Basic/arrow-small/arrow-small.pug
include Basic/diashad/diashad.pug
include Basic/input-controls/input-controls.pug
