mixin event-block(title, datetime, background)
   .event-block.row.aic.jcsb.rel&attributes(attributes)
      .event-block__background.abs.left0.top0.w100.h100(style=`background-image: url('../Attach/Images/${background}');`)
      .event-block__gradient.abs.left0.top0.w100.h100(style=``)
      a.event-block__titles.col(href='../product')
         .event-block__datetime= datetime
         .event-block__title= title
      .event-block__buttons.col
         a(href='#')
            +button('Записаться')
         a(href='../product')
            +button('Подробнее')
      