mixin service-row(title, price, id, buttonName='Записаться')
   .service-row.row&attributes(attributes)
      a(href!=`../product/?id=${id}`).service-row__title!= title
      .service-row__info
         .service-row__price!= price
         a(href!=`../buy/?id=${id}`).service-row__button
            +button(buttonName).w100