include ../../bundle.pug

include ../../Blocks/section/section.pug
include ../../Blocks/contacts/contacts.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Шпаргалка для лучшей жизни
    +favicon()
  body
    +header()
    +scroll-top-button()
    +devicer()
      :php
        $sections = $db->at_id(127)->get_children();
      <?php foreach ($sections as $section) : ?>
        <?php $is_read_more = true; ?>
        <?php $is_title = true; ?>
        <?php $is_arrows = true; ?>
        +section()
      <?php endforeach; ?>
      +contacts()#contacts
    +footer()