include ../../bundle.pug

include ../../Blocks/product-shop/product-shop.pug
include ../../Blocks/shop-filters/shop-filters.pug
include ../../Blocks/shop-products/shop-products.pug
include ../../Blocks/maybe-other-page/maybe-other-page.pug

:php
   $_root = $db->get_root()->walker;
   $products_raw = $_root->pages->shop('children');
   
   $products = [];
   foreach ($products_raw as $product) {
      if ($product->walker->price->normal() && $product->walker->price->sale())
         array_push($products, $product);
   }


<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Акции | Шпаргалка для лучшей жизни
      +favicon()
   body
      +header()
      +scroll-top-button()
      +devicer()
         +title('Акции').title_page
         +shop-filters()
         +shop-products()

         +maybe-other-page()
      +footer()