include __menu/header__menu.pug
mixin header()
   header.header.fix.top0.left0.w100&attributes(attributes)
      +devicer().row.aic.mA
         .header__logo
            a(href="./shop").cup
               <?php $logo = $ASSETS . $db->at_path('logo')->value['src']; ?>
               img(src!="<?= $logo ?>")
         .col.tar
            span.header__slogan.ff-ars-i.fwn
               | <?= $db->at_path('pages/main/title/normal')->value ?>
               |
               +link("<?= $db->at_path('pages/main/title/shadow')->value ?>", '#')
            +header__menu()