include ../../bundle.pug

include ../../Blocks/section/section.pug
include ../../Blocks/contacts/contacts.pug
include ../../Blocks/recommended-products/recommended-products.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Обо мне | Шпаргалка для лучшей жизни
    +favicon()
  body
    +header()
    +scroll-top-button()
    +devicer()
      :php
        $section = $db->at_id(177);
        $is_main_hide_title = false;
        $is_read_more = false;
        $is_arrows = true;
        $is_sales = false;
      +section()
      +recommended-products()
      +contacts()
    +footer()